ansible-core==2.20.1
asgiref==3.11.0
awscrt==0.29.2
boto==2.49.0
boto3==1.42.32
botocore==1.42.32
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
click==8.3.2
cryptography==46.0.3
dj-database-url==3.1.2
Django==6.0.1
gunicorn==25.3.0
h11==0.16.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.3
packaging==25.0
pillow==12.1.1
psycopg2-binary==2.9.11
pycparser==2.23
python-dateutil==2.9.0.post0
PyYAML==6.0.3
resolvelib==1.2.1
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
uvicorn==0.44.0
whitenoise==6.12.0
