{%extends "base.html"%} {% block content %}
<header>
  <nav>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>
</header>

<h1>A Book Site</h1>
<img
  src="{% static 'project/images/hero-books.jpg' %}"
  alt="A line of books with their spines facing to the sky"
/>
<p>This is the home page for "A Book Site"!</p>

<section>
  {%for book in books%}
  <h2><a href="{{book.get_absolute_url}}">{{book.title}}</a></h2>
  <p>{{book.author}}</p>
  <p>Pages: {{book.page_num}}</p>
  <p>DDs: {{book.dds}}</p>
  {%endfor%}
</section>

{% endblock %}
