{%extends "base.html"%} {%load static%} {% block content %}

<h1>What are you reading</h1>
<p>Track your favorite books in one simple place.</p>

<img
  src="{% static 'project/image/hero-books.jpg' %}"
  alt="A line of books with their spines facing to the sky"
/>

  <div>
    <a href="{% url 'book-list' %}">
      <button>Browse Your Books</button>
    </a>

    <a href="{% url 'book-form' %}">
      <button>Add a Book</button>
    </a>
  </div>
</div>

<div class="card">
  <h2>Welcome to A Book Site</h2>
  <p>
    This platform lets you save your books or leave a review.
  </p>
</div>


 {% endblock %}
